
.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    width:230px;
    margin: 0 auto;
    justify-items: center;
    position: relative;
}

.box{
    border:1px solid black;
    padding:50px;
    background-color:aqua;
    text-align: center;
}

.fifth{
    position:absolute;
    top: 25%;
    left: 26%;
}

